<!DOCTYPE html>
<html>
<head>
    <title>Heart Rate Detection</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="main-container">

    <div class="left-panel">
        <h2>Webcam Feed</h2>
        <img src="{{ url_for('video_feed') }}" width="700">
    </div>

    <div class="right-panel">
        <h2>Pulse Signal</h2>

        <canvas id="pulseChart"></canvas>

        <div class="stats">
            <h3 id="bpm">Heart Rate: -- BPM</h3>
            <h3 id="freq">Frequency: -- Hz</h3>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>